.client {
	padding: 0px 123px 200px 121px;
}

.client__testi {
	margin-bottom: 36px;
}

.client__testi h2 {
	color: var(--Gray-1, #333);
	font-family: Poppins;
	font-size: clamp(24px, 3.5vw, 36px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.client__profile {
	display: flex;
	gap: 30px;
}

.client__profile-img {
	max-width: 82px;
}

.client__profile-img img {
	width: 100%;
	height: auto;

	border-radius: 12px;
}

.client__profile-desc {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 12px;
}

.client__profile-desc h5 {
	color: var(--Gray-1, #333);
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.client__profile-desc p {
	color: var(--Gray-3, #828282);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
