.hero {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 42px;
	margin-bottom: 200px;
}

.hero img {
	border-radius: 18px;

	width: 100%;
	height: auto;
	object-fit: cover;
}

.hero-content {
	max-width: 543px;
	width: 100%;

	margin-left: 225px;
}

.hero-content.up p {
	color: #2d9cdb;
	font-size: clamp(12px, 1.5vw, 18px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 16px;
}

.hero-content h2 {
	color: var(--gray-1);
	font-size: clamp(24px, 4vw, 48px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.hero-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero-input p {
	color: var(--gray-3);
	font-size: clamp(10px, 1vw, 14px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 9px;
}
.down p {
	color: var(--gray-2);
	font-size: clamp(12px, 1.5vw, 18px);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 42px;
}

.hero-input__form {
	border: none;
	max-width: 350px;
	width: 100%;

	padding: 15px 4px 15px 21px;

	display: flex;

	background-color: var(--gray-5);

	border-radius: 12px;
}

.hero-input__form input {
	border: none;
	color: var(--gray-1);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	background: transparent;
	width: 100%;
	outline: none;
}

.hero-input__form input::placeholder {
	color: var(--gray-4);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.hero-input__form button {
	padding: 11px 28px;

	margin: -11px 0;

	color: var(--gray-5);
	font-family: poppins;
	font-size: clamp(14px, 1.5vw, 18px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	text-align: center;

	background: var(--color-blue);
	border-radius: 12px;
	border: none;
	outline: none;

	cursor: pointer;
}

.hero-input__form button:hover {
	opacity: 0.8;
}
