.services h2 {
	color: var(--Gray-1, #333);
	font-family: Poppins;
	font-size: clamp(24px, 3.5vw, 36px);
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-bottom: 42px;
}

.services-topic {
	display: flex;
	justify-content: space-between;
}

.services-topic img {
	width: 36px;

	filter: invert(86%) sepia(63%) saturate(0%) hue-rotate(295deg) brightness(109%)
		contrast(101%);
}

.services article {
	display: flex;
	flex-direction: column;
	align-items: start;

	padding: 46px 34px 46px 30px;
}

.services article:hover {
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1);
}

.services article:hover button {
	background-color: #2d9cdb;
	color: #fff;
}
.services article:hover button:hover {
	opacity: 0.8;
}

.services article h3 {
	color: #333;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin: 35px 0 24px 0;
}

.services article p {
	color: var(--Gray-2, #4f4f4f);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	max-width: 273px;
}

.services article button {
	color: #828282;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	cursor: pointer;

	padding: 9px 12px;
	border-radius: 12px;
	background-color: #e0e0e0;
	border: none;

	margin-top: 30px;
}

.img-design {
	background-color: var(--color-blue);
	padding: 15px 16px 9px 15px;

	border-radius: 16px;
}
.img-fe {
	background-color: var(--color-green);
	padding: 15px 16px 9px 15px;

	border-radius: 16px;
}
.img-be {
	background-color: var(--color-red);
	padding: 15px 16px 9px 15px;

	border-radius: 16px;
}
