.team {
	padding: 0px 123px 200px 121px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team__desc h6 {
	color: #eb5757;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.team__desc h3 {
	color: var(--Gray-1, #333);
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	margin-top: 7px;
	margin-bottom: 14px;
}

.team__desc p {
	color: var(--Gray-2, #4f4f4f);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.team__gallery {
	display: flex;
	align-items: center;

	gap: 24px;
}

.team__gallery img {
	border-radius: 24px;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.team__gallery-img2 {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
